body {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.grid-item {
    background-color: black;
    width: 10px;
    height: 10px;
}